/sandbox/**
/.idea/**
/*.iml
/.git/**
/jars/**
/bundle/**
/.gradle/**
/vendor/**
/build/**
/examples/vendor/**
/package.hub.yml
/gradle
/build.gradle
/gradlew
/gradlew.bat
/package-lock.php.yml
/out/**
/dn-sources/**